//- page-a.pug
extends t79-base.pug

block scripts
    script(src='../static/index.js')

block style 
    style 
        include ../static/t75-style.css

block content
    section#missionSection
        h2 Our Mission
        div#mission
            div.card
                h3 Consistent Coding
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis sapiente at, nostrum eveniet alias tenetur corporis, ratione consectetur reiciendis vel voluptatibus adipisci mollitia debitis odit! Esse, eius. In delectus vero fugiat ullam deleniti eum fugit expedita. Perferendis, atque porro voluptate quis ad expedita nobis eius dolor soluta, est, omnis impedit?
            div.card
                h3 Self Improvement
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis sapiente at, nostrum eveniet alias tenetur corporis, ratione consectetur reiciendis vel voluptatibus adipisci mollitia debitis odit! Esse, eius. In delectus vero fugiat ullam deleniti eum fugit expedita. Perferendis, atque porro voluptate quis ad expedita nobis eius dolor soluta, est, omnis impedit?
            div.card
                h3 Talking Skills
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis sapiente at, nostrum eveniet alias tenetur corporis, ratione consectetur reiciendis vel voluptatibus adipisci mollitia debitis odit! Esse, eius. In delectus vero fugiat ullam deleniti eum fugit expedita. Perferendis, atque porro voluptate quis ad expedita nobis eius dolor soluta, est, omnis impedit?
    section#sponsorSection
        h2 Our sponsor
        #sponsors 
            img(src="../static/img/t78-sponsor (1).png" alt="logo1")
            img(src="../static/img/t78-sponsor (2).png" alt="logo2")
            img(src="../static/img/t78-sponsor (3).png" alt="logo3")
            img(src="../static/img/t78-sponsor (1).png" alt="logo1")
            img(src="../static/img/t78-sponsor (2).png" alt="logo2")
            img(src="../static/img/t78-sponsor (3).png" alt="logo3")